***
1. Wygeneruj próbę losową dla rozkładu normalnego dla średniej = 2, odchylenia = 30 i liczby elementów = 200. Zbadaj hipotezę mówiącą o tym, że średnia tego rozkładu jest równa 2,5.

In [1]:
import numpy as np
import scipy.stats as sps

In [2]:
srednia = 2
odchylenie = 30
n = 200

data = np.random.normal(srednia, odchylenie, n)

hipoteza = 2.5
stat, p_value = sps.ttest_1samp(data, hipoteza)

print(f'Statystyka testowa: {stat}')
print(f'Wartość p: {p_value}')

if p_value < 0.05:
    print("Odrzucamy hipotezę zerową.")
else:
    print("Nie ma podstaw do odrzucenia hipotezy zerowej.")

Statystyka testowa: -1.2134964707106
Wartość p: 0.22637840337511986
Nie ma podstaw do odrzucenia hipotezy zerowej.

***
2. Wczytaj plik napoje.csv do pandas DataFrame. Zweryfikuj hipotezę że średnie spożycie piwa lech wynosi 60500, coli wynosi 222000, piw regionalne wynosi 43500.

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('napoje.csv', sep = ';')
df

     mies   rok   pepsi  fanta   żywiec  okocim  regionalne    cola   lech
0       1  2001  108447   43302  186385   54301       45065  227013  56306
1       2  2001  105439   46711  168782   68131       43933  221115  67212
2       3  2001  111675   36029  172186   63104       46663  222812  67398
3       4  2001  113232   33659  172445   50871       45195  238631  57100
4       5  2001  110274   40853  174526   67924       47926  222963  65001
..    ...   ...     ...     ...     ...     ...         ...     ...    ...
187     8  2016  105949   43017  169329   64262       58101  222531  58037
188     9  2016  103420   44310  173923   67591       44565  230270  65156
189    10  2016  120363   50688  175856   63791       51376  247155  59276
190    11  2016  101215   41924  175914   62570       59505  240524  61765
191    12  2016  114300   42314  178209   65923       58508  223129  68106

[192 rows x 9 columns]

In [5]:
hipotezy = {'lech': 60500, 'cola': 222000, 'regionalne': 43500}

for piwo, hipoteza in hipotezy.items():
    data = df[piwo]
    stat, p_value = sps.ttest_1samp(data, hipoteza)
    
    print('\n-----------------------------')
    print(f'Test dla: {piwo}')
    print(f'Statystyka testowa: {stat}')
    print(f'Wartość p: {p_value}')

    if p_value < 0.05:
        print(f'Odrzucamy hipotezę zerową.')
    else:
        print('Nie ma podstaw do odrzucenia hipotezy zerowej.')

-----------------------------
Test dla: lech
Statystyka testowa: 1.646503944538866
Wartość p: 0.10130442686854732
Nie ma podstaw do odrzucenia hipotezy zerowej.

-----------------------------
Test dla: cola
Statystyka testowa: 6.391908975571081
Wartość p: 1.2249714535216758e-09
Odrzucamy hipotezę zerową.

-----------------------------
Test dla: regionalne
Statystyka testowa: 17.440927488514944
Wartość p: 2.2572528828603765e-41
Odrzucamy hipotezę zerową.

***
3. Sprawdzić która zmienna w pliku napoje.csv wykazuje normalność

In [6]:
for zmienna in df.columns:  
    
    data = df[zmienna]
    stat, p_value = sps.shapiro(data)

    print('\n-----------------------------')
    print(f'Test normalności dla zmiennej {zmienna}:')
    print(f'Statystyka testowa: {stat}')
    print(f'Wartość p: {p_value}')

    if p_value < 0.05:
        print(f'Rozkład dla {zmienna} nie wykazuje normalności')
    else:
        print(f'Rozkład dla {zmienna} wykazuje normalność')

-----------------------------
Test normalności dla zmiennej mies:
Statystyka testowa: 0.9405028820037842
Wartość p: 4.075907327205641e-07
Rozkład dla mies nie wykazuje normalności

-----------------------------
Test normalności dla zmiennej rok:
Statystyka testowa: 0.9462482333183289
Wartość p: 1.3102297771183657e-06
Rozkład dla rok nie wykazuje normalności

-----------------------------
Test normalności dla zmiennej pepsi:
Statystyka testowa: 0.9912384748458862
Wartość p: 0.2968809902667999
Rozkład dla pepsi wykazuje normalność

-----------------------------
Test normalności dla zmiennej fanta :
Statystyka testowa: 0.9894830584526062
Wartość p: 0.17036965489387512
Rozkład dla fanta  wykazuje normalność

-----------------------------
Test normalności dla zmiennej żywiec:
Statystyka testowa: 0.9913601875305176
Wartość p: 0.3080885708332062
Rozkład dla żywiec wykazuje normalność

-----------------------------
Test normalności dla zmiennej okocim:
Statystyka testowa: 0.9875098466873169
Wartość p: 0.08890535682439804
Rozkład dla okocim wykazuje normalność

-----------------------------
Test normalności dla zmiennej regionalne:
Statystyka testowa: 0.936504602432251
Wartość p: 1.8769230791804148e-07
Rozkład dla regionalne nie wykazuje normalności

-----------------------------
Test normalności dla zmiennej cola:
Statystyka testowa: 0.993564248085022
Wartość p: 0.5694407224655151
Rozkład dla cola wykazuje normalność

-----------------------------
Test normalności dla zmiennej lech:
Statystyka testowa: 0.9936927556991577
Wartość p: 0.5875554084777832
Rozkład dla lech wykazuje normalność

***
4. Zbadaj równość średnich dla następujących par: okocim – lech, fanta – regionalne oraz cola – pepsi.

In [7]:
pary = [('okocim', 'lech'), ('fanta ', 'regionalne'), ('cola', 'pepsi')]

for zmienna1, zmienna2 in pary:
    
    data1 = df[zmienna1]
    data2 = df[zmienna2]
    
    stat, p_value = sps.mannwhitneyu(data1, data2)
    
    print('\n-----------------------------')
    print(f'Test równości średniej dla par {zmienna1} - {zmienna2}:')
    print(f'Statystyka testowa: {stat}')
    print(f'Wartość p: {p_value}')

    if p_value < 0.05:
        print(f'Średnie {zmienna1} i {zmienna2} nie są równe.')
    else:
        print(f'Średnie {zmienna1} i {zmienna2} są równe.')

-----------------------------
Test równości średniej dla par okocim - lech:
Statystyka testowa: 17861.5
Wartość p: 0.6001922392671175
Średnie okocim i lech są równe.

-----------------------------
Test równości średniej dla par fanta  - regionalne:
Statystyka testowa: 8106.5
Wartość p: 2.223371766550974e-21
Średnie fanta  i regionalne nie są równe.

-----------------------------
Test równości średniej dla par cola - pepsi:
Statystyka testowa: 36864.0
Wartość p: 1.9894396616299057e-64
Średnie cola i pepsi nie są równe.

***
5. Zbadaj równość wariancji pomiędzy okocim – lech, żywiec – fanta oraz regionalne – cola.

In [8]:
pary = [('okocim', 'lech'), ('żywiec', 'fanta '), ('regionalne', 'cola')]

for zmienna1, zmienna2 in pary:
    
    data1 = df[zmienna1]
    data2 = df[zmienna2]
    
    stat, p_value = sps.levene(data1, data2)
    
    print('\n-----------------------------')
    print(f'Test równości wariancji dla par {zmienna1} - {zmienna2}:')
    print(f'Statystyka testowa: {stat}')
    print(f'Wartość p: {p_value}')

    if p_value < 0.05:
        print(f'Wariancje {zmienna1} i {zmienna2} nie są równe.')
    else:
        print(f'Wariancje {zmienna1} i {zmienna2} są równe.')

-----------------------------
Test równości wariancji dla par okocim - lech:
Statystyka testowa: 1.191182232831977
Wartość p: 0.2757791126546958
Wariancje okocim i lech są równe.

-----------------------------
Test równości wariancji dla par żywiec - fanta :
Statystyka testowa: 1.4760992846958803
Wartość p: 0.2251362462983421
Wariancje żywiec i fanta  są równe.

-----------------------------
Test równości wariancji dla par regionalne - cola:
Statystyka testowa: 83.85984593010029
Wartość p: 3.275749775904902e-18
Wariancje regionalne i cola nie są równe.

***
6. Zbadaj równość średnich pomiędzy latami 2001 i 2015 dla piw regionalnych.

In [9]:
grouped_data = df.groupby('rok')

regionalne_2001 = grouped_data.get_group(2001)['regionalne']
regionalne_2015 = grouped_data.get_group(2015)['regionalne']

stat, p_value = sps.mannwhitneyu(regionalne_2001, regionalne_2015)
    
print(f'Test równości średniej pomiedzy latami 2001 i 2015 dla piw regionalnych:')
print(f'Statystyka testowa: {stat}')
print(f'Wartość p: {p_value}')

if p_value < 0.05:
    print(f'Średnie pomiedzy latami 2001 i 2015 nie są równe.')
else:
    print(f'Średnie pomiedzy latami 2001 i 2015 są równe.')

Test równości średniej pomiedzy latami 2001 i 2015 dla piw regionalnych:
Statystyka testowa: 24.0
Wartość p: 0.006098945931214367
Średnie pomiedzy latami 2001 i 2015 nie są równe.

***
7. Zbadaj równość średnich dla wartości z roku 2016 oraz dla wartości z pliku napoje_po_reklamie.csv oddzielnie dla coli, fanty i pepsi. Zakładamy, że zmienne te są zależne.

In [10]:
df_po_reklamie = pd.read_csv('napoje_po_reklamie.csv', sep = ';')
df_po_reklamie

    mies   pepsi  fanta   żywiec  okocim  regionalne    cola   lech
0      1  119110   41386  186272   64398       55561  215468  68673
1      2  107424   45669  178564   61847       48793  233941  68483
2      3  105748   47373  183368   53390       63907  229677  63300
3      4  115377   39395  184326   60062       58531  234246  61943
4      5  103003   42477  182190   63736       51395  219392  64189
5      6  102809   47224  183115   52596       55149  219600  63343
6      7  106890   45185  184858   54457       52977  225857  63466
7      8  103613   38748  185559   61437       61143  226311  68841
8      9  112709   34145  186496   62945       59051  232491  65195
9     10  112780   37407  182187   67979       60212  235802  57058
10    11  113206   51504  191763   61462       55311  221554  54589
11    12  107777   41005  183566   62182       64720  223153  56674

In [11]:
for zmienna in ['cola', 'fanta ', 'pepsi']:
    
    data_2016 = grouped_data.get_group(2016)[zmienna]
    data_po_reklamie = df_po_reklamie[zmienna]
    
    stat, p_value = sps.mannwhitneyu(data_2016, data_po_reklamie)
    
    print('\n-----------------------------')
    print(f'Test równości średniej dla {zmienna} z roku 2016 i po reklamie:')
    print(f'Statystyka testowa: {stat}')
    print(f'Wartość p: {p_value}')

    if p_value < 0.05:
        print(f'Średnie {zmienna} z roku 2016 i po reklamie nie są równe.')
    else:
        print(f'Średnie {zmienna} z roku 2016 i po reklamie są równe.')

-----------------------------
Test równości średniej dla cola z roku 2016 i po reklamie:
Statystyka testowa: 75.0
Wartość p: 0.8852339144732017
Średnie cola z roku 2016 i po reklamie są równe.

-----------------------------
Test równości średniej dla fanta  z roku 2016 i po reklamie:
Statystyka testowa: 79.0
Wartość p: 0.7074539677020747
Średnie fanta  z roku 2016 i po reklamie są równe.

-----------------------------
Test równości średniej dla pepsi z roku 2016 i po reklamie:
Statystyka testowa: 68.0
Wartość p: 0.8398599725400034
Średnie pepsi z roku 2016 i po reklamie są równe.